*~
*.so
*.a
*.o
demo
demo.shared
sheensio
driver
libmachines.h
machines.js
TAGS
duktape
.idea
cmake-build-debug
build
machines_js.c
duktape-*
crew.json
match_test.results.json
sheensio-demo.input
sheensio-demo.output
node-littlesheens
